$primary-color: #102230;
$secondary-color: #e76952;
$tertiary-color: #478094;
$black: black;
$white: white;
$font: 'Staatliches', cursive;

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: $font;
    .navbar {
        height: 75px;
        display: flex;
        align-items: center;
        background-color: $primary-color;
        .left {
            width: 55vw;
            padding-left: 5vw;
            display: flex;
            font-size: 30px;
            color: $secondary-color;
        }
        .right {
            width: 35vw;
            display: flex;
            justify-content: flex-end;
            justify-content: space-between;
            font-size: 20px;
            .portfolio-link:hover, .social-link:hover, .about-me-link:hover {
                transform: scale(1.1);
                transition: transform 300ms ease-in-out;
            }
            a {
                text-decoration: none;
                color: $secondary-color;
            }
        }
    }
    .image-section {
        height: calc(100vh - 75px);
        width: 100vw;
        background: url("../images/tetons.jpg") no-repeat center;
        background-size: cover;
        font-size: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font;
        color: $primary-color;
    }
    .portfolio-header, .social-header, .about-me-header {
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        color: $secondary-color;
        background-color: $primary-color;
    }
    .portfolio-section {
        padding: 15px 0px;
        .row1 {
            display: flex;
            justify-content: space-around;
        }   
        .row2 {
            display: flex;
            justify-content: space-around;
            padding-top: 10px;
            //images from 1500 wide 800 high
        }
        img {
            border: $primary-color solid;
            height: 200px;
            width: 375px;
        }
        img:hover {
            opacity: .15;
        }

    }
    .social-section {
        padding: 30px 0px;
        color: $primary-color;
        display: flex;
        justify-content: space-around;
        .i1 {
            display: flex;
            justify-content: space-around;
        }
        .github:hover, .linkdin:hover {
            transform: scale(1.1);
            transition: transform 300ms ease-in-out;
        }
        a {
            color: $primary-color;
            text-decoration: none;
        }
    }
    .about-me-section {
        display: flex;
        padding: 25px 25px 25px 25px;
        .me {
            height: 300px;
            width: 250px;
            border: $primary-color solid;
        }
        p {
            font-size: 25px;
            padding: 0px 50px;
        }
    }
    .foot {
        height: 125px;
        background-color: $primary-color;
        color: $secondary-color;
        .name-link {
            padding-top: 10px;;
            display: flex;
            justify-content: center;
            h1 {
                font-size: 30px;
            }
            h1:hover {
                transform: scale(1.03);
                transition: transform 300ms ease-in-out;
            }
        }
        .foot-links {
            padding: 0px 300px 0px 300px;
            display: flex;
            justify-content: space-around;
            .portfolio-link:hover, .social-link:hover, .about-me-link:hover {
                transform: scale(1.1);
                transition: transform 300ms ease-in-out;
            }
        }
        a {
            text-decoration: none;
            color: $secondary-color;
        }
    }
}