html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Staatliches", cursive;
}

body .navbar {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #102230;
}

body .navbar .left {
  width: 55vw;
  padding-left: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 30px;
  color: #e76952;
}

body .navbar .right {
  width: 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 20px;
}

body .navbar .right .portfolio-link:hover, body .navbar .right .social-link:hover, body .navbar .right .about-me-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

body .navbar .right a {
  text-decoration: none;
  color: #e76952;
}

body .image-section {
  height: 85vh;
  width: 100vw;
  background: url("../images/tetons.jpg") no-repeat center;
  background-size: cover;
  font-size: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Pacifico", cursive;
  color: #102230;
}

body .portfolio-header, body .social-header, body .about-me-header {
  height: 15vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 30px;
  color: #e76952;
  background-color: #102230;
}

body .portfolio-section {
  padding: 15px 0px;
}

body .portfolio-section .row1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .portfolio-section .row2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 3vh;
}

body .portfolio-section img {
  border: #102230 solid;
  height: 200px;
  width: 375px;
}

body .portfolio-section img:hover {
  opacity: .15;
}

body .social-section {
  padding: 30px 0px;
  color: #102230;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .social-section .i1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .social-section .github:hover, body .social-section .linkdin:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

body .social-section a {
  color: #102230;
  text-decoration: none;
}

body .about-me-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 25px 25px 25px 25px;
}

body .about-me-section .me {
  height: 300px;
  width: 250px;
  border: #102230 solid;
}

body .about-me-section p {
  font-size: 25px;
  padding: 0px 50px;
}

body .foot {
  height: 125px;
  background-color: #102230;
  color: #e76952;
}

body .foot .name-link {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .foot .name-link h1 {
  font-size: 30px;
}

body .foot .name-link h1:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

body .foot .foot-links {
  padding: 0 35vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .foot .foot-links .portfolio-link:hover, body .foot .foot-links .social-link:hover, body .foot .foot-links .about-me-link:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

body .foot a {
  text-decoration: none;
  color: #e76952;
}
/*# sourceMappingURL=styles.css.map */